.Header-Container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: none !important;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.navbar {
  background-color: #ffffff;
  color: #fff;
  height: 65px;
}
.navbar img {
  height: 65px;
}
.navbar div {
  overflow-y: hidden !important;
}
.navbar ul {
  display: flex;
}
.navbar li {
  padding: 10px;
  margin: 0 5px;
}
.Header-Container nav a {
  color: #0090b4;
  font-weight: 600;
  display: block;
  position: relative;
  padding: 0.1em 0;
  overflow: hidden;
}
.Header-Container nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #432b8c;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 400ms, transform 300ms;
}
.Header-Container nav a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.burgericon {
  display: none;
}

.Mobile-Menu-Container {
  height: 100vh;
  width: 100vw;
  overflow-y: none;
  background-color: #3d6e9e;
  position: fixed;
  opacity: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 5000;
  overflow: "hidden";
}
.Mobile-Menu-Container ul {
  display: flex;
  flex-direction: column;
}
.Mobile-Menu-Container h3 {
  color: rgb(212, 212, 212);
  font-weight: 700;
  font-size: 35px !important;
}
.Mobile-Menu-Container h3:hover {
  color: white;
}
.Mobile-Menu-Container > a:first-of-type {
  display: none;
}
.Mobile-Menu-Container img {
  position: fixed;
  top: 18px;
  right: 15px;
}

@media screen and (max-width: 1000px) {
  .Header-Container {
    padding: 0px 0px 0px 15px;
  }
  .Header-Container h1 {
    font-size: 2.25rem;
  }
  .Header-Container li {
    display: none;
  }
  .Header-Container li:first-of-type {
    display: inline-block;
  }
  .burgericon {
    display: flex !important;
    align-content: center;
    justify-self: center;
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 500px) {
  .Header-Container h1 {
    font-size: 1.8rem;
  }
}
