.Cards {
  display: flex;
  flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

.Project {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  background-color: #182025;
  box-shadow: 0px 0px 0px #432b8c;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms ease, box-shadow 400ms ease;
}

.Project:hover {
  transform: translate3d(-7px, -7px, 0);
  box-shadow: 7px 7px 0px #432b8c;
}
.Project h3,
.Project p {
  color: honeydew !important;
}
.Project-text {
  padding: 1rem;
  max-width: 400px;
}
.Project img {
  width: 450px;
}
@media screen and (max-width: 1050px) {
  .Project img {
    width: 90vw;
  }
}
