.Wrapper {
  flex: 1;
  max-width: 950px;
  margin: 0 auto;
}
.Wrapper h1:first-of-type {
  padding-bottom: 0px;
  padding-top: 80px;
  font-weight: 700;
}
.Wrapper p {
  color: black !important;
}

.Wrapper p {
  padding-bottom: 10px;
  line-height: 2;
}
.Skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0px 80px 0px;
}
.Skills h1 {
  padding: 0px 0px 20px 0px !important;
  font-weight: 700;
  font-size: 1.7rem;
}
.Skills h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.Skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Skills li {
  font-size: 1rem;
  color: black;
  line-height: 3rem;
}

@media screen and (max-width: 1200px) {
  .Wrapper {
    padding: 30px 4vw;
  }
  .Wrapper > h1:first-of-type {
    text-align: left;
    font-size: 3rem;
  }
  .Wrapper p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .Skills {
    grid-template-columns: 1fr;
    font-size: 1.7rem !important;
  }
  .Wrapper h1:first-of-type {
    padding-top: 15px;
  }
}
