.Wrapper {
  padding: 0px 25vw;
  flex: 1;
 
}
.Wrapper h1:first-of-type {
  padding-bottom: 20px;
  padding-top: 80px;
  font-weight: 800;

}
.Wrapper p:last-of-type{
  padding-bottom: 50px;
}
.HText {
  padding-bottom: 20px;
  padding-top: 0px;
  font-size: 1.80rem;
  font-weight: 700;
}
.Wrapper p {
  padding-bottom: 10px;
  line-height: 2;
}
.SkillList{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}
.SkillList h3{
  font-weight: 600;

}
.SkillList > div{
  padding-bottom: 30px;
}
.SkillList h3{
    padding-bottom: 10px;
}
.Skills{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

@media screen and (max-width: 1200px) {
  .Wrapper {
    padding: 0px 10vw;
  }
  .Wrapper h1:first-of-type {
    text-align: center;
    font-size: 2.5rem;
  }

}
@media screen and (max-width: 900px) {
  .Wrapper h1:first-of-type{
    padding-top: 15px;
  }
  .SkillList{
    grid-template-columns: 1fr;
  }
  .Skills{
    grid-template-columns:repeat(auto-fit, 100px);
}
}