@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --charcoal: #2f3e46ff;
  --spanish-violet: #432b8cff;
  --tumbleweed: #e0a890ff;
  --medium-violet-red: #ce1483ff;
  --turquoise-green: #87cbacff;
  --aquamarine: #90ffdcff;
  --non-photo-blue: #8de4ffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
  padding: 0.2rem 0;
}
a:hover {
  cursor: pointer;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #432b8c;
}
h2 {
  font-size: 3rem;
  color: #432b8c;
  font-weight: 500;
}
h2 {
  font-size: 2rem;
}
h3 {
  color: #432b8c;
  font-size: 1.5rem;
  font-weight: 400;
}
li {
  color: #432b8c;
}
p {
  margin: 10px 0px;
  font-size: 1rem;
  font-weight: 300;
}
img {
  width: 100%;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper-content {
  flex: 1;
}

#Tail {
  animation: tail 2s ease-in-out infinite;
  animation-direction: alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes tail {
  from {
    transform: rotateZ(-8deg);
  }
  to {
    transform: rotateZ(-1deg);
  }
}
