.Home {
  width: 100% !important;
}

.Intro {
  padding-top: 50px;
  margin: 0 auto !important;
  display: grid;
}

.Intro-text {
  max-width: 1500px;
  margin: 0 auto;
  overflow: none !important;
  padding: 0 40px;
  display: grid;
  align-items: left;
  justify-content: space-between;
  grid-template-columns: 1fr 1.5fr;
  gap: 0px 50px;
  height: 100%;
  width: 100%;
}
.Intro-text h1 {
  color: black;
  font-weight: 100;
}
.Intro-text h3 {
  color: black;
}
.Intro-text button {
  margin-top: 30px;
  padding: 10px 25px;
  color: honeydew;
  background-color: #432b8c;
  border-radius: 35px;
  border: 2px black solid;
  width: 200px;
  height: 50px;
}
.Intro-text button:hover {
  background-color: #331f70;
  cursor: pointer;
}
.Intro-text div:first-of-type {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.Intro-text div:first-of-type h1,
.Intro-text div:first-of-type h3,
.Intro-text div:first-of-type button {
  margin: 15px 0px;
}
.BriefIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  background-color: #f9f9f9;
}
.BriefIntro h1,
.BriefIntro h3 {
  max-width: 1000px;
  color: black;
  padding: 1.25rem !important;
}
.FeaturedProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  background-color: white;
}
.FeaturedProjects h1 {
  max-width: 1000px;
  color: black;
  padding: 1.25rem;
}
.Cards {
  display: flex;
  flex-direction: row;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

.Project {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  background-color: #182025;
  box-shadow: 0px 0px 0px #432b8c;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms ease, box-shadow 400ms ease;
}

.Project:hover {
  transform: translate3d(-7px, -7px, 0);
  box-shadow: 7px 7px 4px #432b8c;
}
.Project h3,
.Project p {
  color: honeydew !important;
}
.Project-text {
  padding: 1rem;
  max-width: 400px;
}
.Project img {
  width: 450px;
}
.FeaturedProjects button {
  margin: 1.25rem;
  padding: 0.75rem 1.35rem;
  background-color: white;
  border: black 2px solid;
  cursor: pointer;
  transition: background-color 600ms, color 300ms;
}
.FeaturedProjects button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1200px) {
  .Intro-text h1 {
    font-size: 2.5rem;
  }
  .Intro-text h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1050px) {
  .Intro {
    padding: 15px 0px !important;
    grid-template-columns: 1fr !important;
  }
  .Intro-text {
    padding: 0 8px;
    grid-template-columns: 1fr;
    align-items: center !important;
    justify-content: center !important;
  }
  .Intro-text div:nth-child(2) {
    grid-row: 1;
  }

  .Intro-text h1,
  .Intro-text h3 {
    padding: 0px !important;
    text-align: center;
  }
  .Intro-text h1 {
    font-size: 1.8rem;
  }
  .Intro-text h3 {
    font-size: 1.2rem !important;
  }
  .Intro-text div:first-of-type {
    align-items: center;
  }
  .Project img {
    width: 90vw;
  }
  .BriefIntro h1,
  .FeaturedProjects h1 {
    font-size: 2rem;
  }
  .BriefIntro h3 {
    font-size: 1.2rem;
  }
  .BriefIntro h1,
  .BriefIntro h3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
