.Wrapper {
  height: 100%;
  flex: 1;
  margin: 0 auto;
  text-align: center;
}
.Wrapper h1:first-of-type {
  padding-bottom: 0px;
  padding-top: 80px;
  font-weight: 700;
}
.Projects {
  padding: 2rem 0px;
}
@media screen and (max-width: 1200px) {
  .Wrapper {
    padding: 30px 2.5vw;
  }
  .Wrapper h1:first-of-type {
    font-size: 3rem;
  }
}
